body {
    background-image: url('../images/background.jpg');
    background-size: 100%;
}
.team {
    margin-top: 20px;
    margin-bottom: 20px;
}

.col {
    margin: 0;
    padding: 0;
}

.player-image:hover {
    cursor: pointer;
    height: 115px;
}

.player-option {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

    padding: 10px;
}

.player-option:hover {
    cursor: pointer;
    background-color: #e9e9e9;
    border-radius: 5px;
}

.player-option p {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0;
}

.player-image-option {
    border-radius: 5px;
}

.team-image {
    border-radius: 5px 0 0 5px
}

.col:last-child img {
    border-radius: 0 5px 5px 0
}

::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

::-webkit-scrollbar-track {
	background: #172138;
}

::-webkit-scrollbar-thumb {
	background: #022f5c;
    border-radius: 5px;
}